.Sklep{
    font-family: "Roboto", sans-serif;
    padding: 2vw 4vw;
    display: flex;
    justify-content: center;

    background:
            /* top, transparent black, faked with gradient */
            linear-gradient(rgba(0, 0, 0, 0.7),
                rgba(0, 0, 0, 0.7)),
            url("../index/bg.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
}

.Sklep > div {
    display: flex;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
}

.Card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #3E5C76;
    box-shadow: inset 0px 0px 50px #2c4255;
    color: #F0EBD8;
    padding: 3vw 4vw;
    border-radius: 15px;
    width: 280px;
}

.Card > img{
    width: 100%;
    margin-top: 40px;
    height: 400px;
    width: 100%;
    border-radius: 25px;
}

.Card > h4 {
    text-align: center;
    font-size: 2.3rem;
    margin: 0;
}

.Card > ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    text-align: center;
}

.Card > ul > li{
    font-size: 1.3rem;
    border: 3px dashed #0e2049;
    background-color: #1d315f;
}